.card {
  min-height: 48px;
  flex-shrink: 0;

  :global(.ant-card-body) {
    padding: 0 12px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    height: 48px;
    width: 100%;
  }
}

.tools {
  margin-left: auto;
  flex-shrink: 0;
}
