.pagePanel {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  min-height: 0;
  height: 100%;
  padding-top: 0px;
  overflow: hidden;
}

.cardBase {
  border-color: var(--border);
  box-shadow: none;
  background-color: var(--bg-panel);
}
